
        * {
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            -webkit-box-sizing: border-box;
            box-sizing: border-box
        }

        html {
            height: 100%
        }

        body {
            width: 21cm;
            height: 100%;
            min-height: 29.7cm;
            position: relative;
            margin: 0;
            padding: 0 0;
            color: #333;
            line-height: 22px;
         font: 13px "Source Sans Pro", Arial;
             font-style: normal
        }

        h1 {
                    font: 32px "Source Sans Pro", Arial;
                    margin: 0 0 15px 0;
            padding: 18px 0 5px 0;
            font-weight: 600;
            color: #333;
            letter-spacing: .1em;
            text-align: left;
            text-transform: uppercase
        }

        h1 span {
            padding: 0 20px 10px 0
        }

        h1 span.has--avatar {
            padding-left: 50px
        }

        h2 {
                    font: 18px "Source Sans Pro", Arial;
                    font-weight: 700;
            margin: 0;
            text-transform: uppercase;
            padding: 0;
            text-align: left;
            letter-spacing: .15em;
            background: #fff
        }

        h3 {
            font-size: 13px;
            font-weight: 600;
            margin: 0;
            padding: 0
        }

        p {
            color: #4c4c4c;
            line-height: 18px;
            font-weight: 400;
            margin: 0;
            padding: 0
        }

        hr {
            border: none;
            height: 1px;
            width: 100%;
            padding: 0;
            margin: 0;
            background: #d2d2d2
        }

        .circle {
            display: none;
            position: fixed;
            top: 950px;
            right: -150px;
            height: 300px;
            width: 300px;
            opacity: .2;
            border-radius: 50%;
            background-color: #f4d92c
        }

        .hero {
            left: 0;
            top: 0;
            width: 100%;
            height: 85px;
            position: absolute
        }

        .sections {
            left: 40px;
            position: relative;
            width: 715px
        }

        .section {
            position: relative;
            width: 100%;
            padding: 0
        }

        .section p {
            display: block;
            font-style: normal
        }

        .section:last-child {
            border: none
        }

        .section.section--summary {
            margin-top: 0;
            width: 100%;
            text-align: left;
            padding-bottom: 0;
            padding-top: 15px;
            margin-top: 17px;
            border-top: 1px solid #b7b7b7
        }

        .section.section--summary .section--content {
            padding-left: 0;
            width: 100%
        }

        .section.section--hobbies .section--content {
            padding-top: 0
        }

        .section.section--characteristics .section--content {
            padding-top: 0
        }

        .section--name {
            position: relative;
            text-align: left
        }

        .section--name.has--avatar {
            padding-left: 70px;
            padding-bottom: 5px
        }

        .section--name__sub {
            display: block;
            margin-top: -10px;
            padding: 0;
            line-height: 24px
        }

        .section--name__sub svg {
            top: 2px;
            position: relative;
            height: 13px;
            width: 13px
        }

        .section--name__sub svg.svg--phone {
            margin-left: 8px
        }

        .section--name__sub svg.svg--email {
            margin-left: 10px
        }

        .section__label {
            display: inline-block;
            position: absolute;
            top: 0;
            right: 0;
            padding: 10px 0 0 0;
            margin: 0;
            height: 65px;
            width: 70px;
            color: #fff;
            font-size: 36px;
            font-weight: 700;
            text-align: center;
            border-width: 0 3px 3px 0;
            background-color: #f4d92c;
            -webkit-background-size: cover !important;
            background-size: cover !important
        }

        .section--name__avatar {
            display: inline-block;
            position: absolute;
            top: 20px;
            left: 0;
            padding: 10px 0 0 0;
            margin: 0;
            height: 35px;
            width: 35px;
            border-radius: 50%;
            -webkit-background-size: cover !important;
            background-size: cover !important
        }

        .personalia__list {
            float: left;
            display: inline;
            position: relative;
            width: 100%;
            margin: 0;
            padding: 0
        }

        .personalia__item {
            float: left;
            display: inline;
            position: relative;
            margin: 0;
            padding: 5px 0 0 0;
            width: 175px
        }

        .section__personalia {
            display: inline-block;
            margin-top: 0;
            height: auto;
            width: 715px;
            margin: 15px 0 0 0;
            padding: 15px 0 0 0;
            text-align: left;
            border-top: 1px solid #b7b7b7
        }

        .section__personalia .section__personalia-item {
            display: inline;
            float: left;
            width: 175px
        }

        .section__personalia span {
            position: relative;
            display: inline-block;
            margin-right: 10px;
            padding-left: 20px
        }

        .section__personalia span :last-child {
            margin-right: 0
        }

        .section__personalia svg {
            display: none;
            position: absolute;
            top: 1px;
            left: 0;
            margin-right: 2px;
            height: 14px;
            width: 14px
        }

        .section__personalia .section__personalia--address svg {
            top: 1px
        }

        .section__personalia .section__personalia--phoneNumber svg {
            top: 1px
        }

        .section__personalia .section__personalia--email svg {
            top: 1px
        }

        .section--title {
            display: block;
            position: relative;
            z-index: 99;
            margin: 17px 0 0 0;
            padding: 15px 0 8px 0;
            page-break-inside: avoid;
            border-top: 1px solid #b7b7b7
        }

        .section--title span {
            display: none;
            display: inline-block;
            margin-right: 0
        }

        .section--title .section--title-label {
            display: inline-block;
            height: 20px;
            width: 20px;
            position: absolute;
            left: -40px;
            bottom: 10px;
            display: none;
            background-color: #4c4c4c
        }

        .section--title-icon {
            position: relative;
            top: 2px;
            left: 0;
            display: inline-block;
            width: 30px
        }

        .section--title-icon svg {
            display: none;
            position: relative;
            top: 2px;
            height: 21px;
            fill: #2b2b38
        }

        .section--title-icon.personal svg {
            top: 3px
        }

        .section--title-icon.education svg {
            top: 4px
        }

        .section--title-icon.internships svg {
            top: 3px
        }

        .section--title-icon.language svg {
            top: 4px
        }

        .section--title-icon.course svg {
            top: 4px
        }

        .section--title-icon.work svg {
            top: 3px
        }

        .section--title-icon.certificate svg {
            top: 4px
        }

        .section--title-icon.single-textarea svg {
            top: 4px
        }

        .section--title-icon.extra-curricular svg {
            top: 3px
        }

        .section--title-icon.skill svg {
            top: 4px
        }

        .section--title-icon.reference svg {
            top: 4px
        }

        .section--heading-group {
            display: block;
            padding: 10px 0 0 0;
            margin: 0;
            page-break-inside: avoid
        }

        .section--list {
            display: block;
            list-style: none;
            padding: 0;
            margin: 0
        }

        .section--item {
            display: block;
            position: relative;
            list-style: none;
            padding: 0;
            margin: 0
        }

        .section--item.skills {
            padding-top: 5px
        }

        .section--item.skills:first-child {
            padding-top: 0
        }

        .section--item.section--item-personal {
            padding-left: 140px
        }

        .section--item.section--item-personal .section--date {
            top: 13px;
            left: 0;
            right: auto;
            text-align: left
        }

        .section--item:first-child .section--heading-group {
            padding-top: 0
        }

        .section--item:first-child .section--heading-group .section--date {
            top: 0
        }

        .skills--label {
            display: inline-block;
            width: 175px;
            margin: 0
        }

        .section--date {
            position: absolute;
            right: 0;
            text-align: right;
            top: 10px;
            width: 125px;
            font-size: 13px;
            padding: 0;
            margin: 0
        }

        .section--heading {
            display: block;
            padding: 0;
            margin: 0
        }

        .section--sub-heading {
            display: block;
            padding: 3px 0 0 0;
            margin: 0;
            font-size: 13px
        }

        .section--content {
            display: block;
            width: 600px;
            padding: 5px 0 0 0;
            margin: 0
        }

        .section--content p {
            display: block
        }

        .section--content ol, .section--content ul {
            white-space: normal;
            font-weight: 400;
            list-style-position: outside;
            color: #4c4c4c;
            margin: 0;
            padding: 0 0 0 16px
        }

        .section--content ol li, .section--content ul li {
            line-height: 18px
        }

        .section--content ul li {
            list-style-type: disc
        }

        .section--content ol {
            padding-left: 14px
        }

        .section--content-single-textarea {
            padding-left: 0
        }

        .skills__list {
            position: relative;
            display: inline-block;
            list-style: none;
            margin: 0;
            padding: 0;
            top: 2px
        }

        .skills__item {
            display: inline-block;
            height: 10px;
            width: 10px;
            padding: 5px 0 0 0;
            margin: 0 3px 0 0;
            border-radius: 50%;
            border: 1px solid #b7b7b7
        }

        .skills__item.active {
            background: #333;
            border-color: #333
        }

        .c--ababab .section__label {
            background: #ababab !important
        }

        .c--f4d92c .section__label {
            background: #f4d92c !important
        }

        .c--2196f3 .section__label {
            background: #2196f3 !important
        }

        .c--8bc34a .section__label {
            background: #8bc34a !important
        }

        .c--b34848 .section__label {
            background: #b34848 !important
        }


/* ****************************************************
 * FONTS
 * ****************************************************
 */
/* latin-ext */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xK3dSBYKcSV-LCoeQqfX1RYOo3qNq7lqDY.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7l.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro SemiBold'), local('SourceSansPro-SemiBold'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwmRduz8A.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro SemiBold'), local('SourceSansPro-SemiBold'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwlxdu.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
